/* This Css file was made by Oluwole Adetifa, Email: adetifaoluwole@gmail.com */
.outerbackground{
    background-color: powderblue;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.innerbackground{
    width: 60%;
    border-radius: 15px;
    border: 1px, transparent;
    display: flex;
    flex-direction: column;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

.teal{
    color: teal;
}

.teal-bg{
    background-color: teal;
}

.turquoise-bg{
    background-color: rgb(57, 180, 168);
}

.heading{
    font-size: 40px;
    padding: 25px;
    padding-left: 70px;
}

.heading-small{
    font-size: 25px;
}

.heading-smaller{
    font-size: 20px;
}

.left{
    float: left;
}

.lemon{
    color: rgb(145, 235, 43);
}

.lemon-bg{
    background-color: rgb(145, 235, 43);
}

.smallpadding{
    padding-left: 70px; 
    padding-top: 8px;
}

.grey{
    color: grey;
}

.white{
    color: whitesmoke;
}

.white-bg{
    background-color: rgb(248, 242, 242);
}
.span-6{
    width: 50%
}

.padding{
    padding: 5%;
}

.padding-bottom{
    padding-bottom: 5%;
}

.roundedborder-up{
    border-radius: 25px 25px 0 0;
}


.container{
    display: flex;
}

ul li{
    list-style-type: none;
}

button{
    margin-top: 10px;
    padding: 15px;
    background-color: yellowgreen;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.monthly{
    padding-bottom: 40px;
}

@media (max-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
    }
    table{
        width: 100%;
        padding: 5%;
    }
    .monthly{
        width: 100%;
        align-content: space-around;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .why{
        width: 100%;
        text-align: justify;
        align-content: center;
    }

    .table th{
        text-align: center;
    }

}
@media (orientation: portrait) {
    
    .container{
        display: flex;
        flex-direction: column;
    }
    table{
        width: 100%;
        padding: 5%;
    }
    .monthly{
        width: 100%;
        align-content: space-around;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .why{
        width: 100%;
        text-align: justify;
        align-content: center;
    }

    .table th{
        text-align: center;
    }
    
}
@media (min-width: 900px) and (max-width: 950px) {
    .monthly{
        width: 50%;
        flex-wrap: wrap;
        padding: auto;
        margin: 0 auto;
        align-content: center;
    }
    .container{
        width: 100%;
    }
    .why{
        width: 50%;
        flex-wrap: wrap;
        padding: auto;
        margin: 0 auto;
        align-content: center;
    }
    
}